
<header id="header" class="full-header my-rule">
    <div id="header-wrap">
        <div class="container clearfix">
            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
            <!-- Logo
					============================================= -->
            <div id="logo">
                <a href="/" class="standard-logo" data-dark-logo="images/logo-dark.png" data-sticky-logo="images/logo-media.png" data-mobile-logo="images/logo-media.png">
                    <img src="images/logo.png" alt="Mean Logo">
                </a>
                <a href="/" class="retina-logo" data-dark-logo="images/logo-dark@2x.png" data-sticky-logo="images/logo-media@2x.png" data-mobile-logo="images/logo-media@2x.png">
                    <img src="images/logo@2x.png" alt="Mean Logo">
                </a>
            </div>
            <!-- #logo end -->

            <!-- Primary Navigation
					============================================= -->
            <nav id="primary-menu">
                <ul>
                    <li>
                        <a href="index.html">
                            <div>Home</div>
                        </a>
                    </li>
                    <li class="mega-menu">
                        <a href="#">
                            <div>Contact</div>
                        </a>
                        <div class="mega-menu-content style-2 clearfix">
                            <ul class="mega-menu-column col-md-3">
                                <li>
                                    <div class="widget visible-lg visible-md clearfix">
                                        <h4>Our Location</h4>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d201717.45988409253!2d144.81557611671303!3d-37.81732634202082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1456564509271"
                                            width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-6">
                                <li>
                                    <div class="widget clearfix">
                                        <h4>Send us a Quick Email</h4>
                                        <div class="contact-widget" data-loader="button">
                                            <div class="contact-form-result"></div>
                                            <form class="nobottommargin" name="template-contactform" action="include/sendemail.php" method="post">

                                                <div class="col_half">
                                                    <div class="col_full">
                                                        <input type="text" name="template-contactform-name" value="" class="typeahead sm-form-control tt-input required" placeholder="Name" />
                                                    </div>
                                                    <div class="col_full">
                                                        <input type="email" name="template-contactform-email" value="" class="typeahead sm-form-control tt-input required" placeholder="Email" />
                                                    </div>
                                                    <div class="col_full nobottommargin">
                                                        <input type="text" name="template-contactform-phone" value="" class="typeahead sm-form-control tt-input required" placeholder="Phone" />
                                                    </div>
                                                </div>

                                                <div class="col_half col_last">
                                                    <div class="col_full">
                                                        <input type="text" name="template-contactform-subject" value="" class="typeahead sm-form-control tt-input required" placeholder="Subject" />
                                                    </div>
                                                    <textarea class="typeahead sm-form-control tt-input required" name="template-contactform-message" rows="4" cols="30" placeholder="Enter your Message"></textarea>
                                                </div>

                                                <div class="clear"></div>

                                                <div class="col_full hidden">
                                                    <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="typeahead sm-form-control tt-input required" />
                                                </div>

                                                <div class="col_full">
                                                    <a href="#" class="button button-rounded button-reveal button-large button-green tright"><i class="icon-email2"></i><span>Send message</span></a>
                                                </div>

                                            </form>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-3">
                                <li>
                                    <div class="widget clearfix">
                                        <h4>Our Headquarters</h4>
                                        <address>
													<strong>Address:</strong><br> Thu Duc District<br> Tp HCM<br> VietNam<br>
												</address>
                                        <abbr title="Phone Number"><strong>Phone:</strong></abbr> 0963 8787 23<br>
                                        <!--<abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>-->
                                        <abbr title="Email Address"><strong>Email:</strong></abbr> quylk2906@gmail.com
                                        <div class="bottommargin-sm"></div>
                                        <a href="#" class="social-icon si-light si-facebook" title="Facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-light si-facebook" title="Twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-light si-facebook" title="Github">
                                            <i class="icon-github"></i>
                                            <i class="icon-github"></i>
                                        </a>
                                        <a href="#" class="social-icon si-light si-facebook" title="Instagram">
                                            <i class="icon-instagram"></i>
                                            <i class="icon-instagram"></i>
                                        </a>
                                        <a href="#" class="social-icon si-light si-facebook" title="Flickr">
                                            <i class="icon-flickr"></i>
                                            <i class="icon-flickr"></i>
                                        </a>
                                        <a href="#" class="social-icon si-light si-facebook" title="Skype">
                                            <i class="icon-skype"></i>
                                            <i class="icon-skype"></i>
                                        </a>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mega-menu">
                        <a href="#">
                            <div>Login</div>
                        </a>
                        <div class="mega-menu-content style-2 clearfix">
                            <ul class="mega-menu-column col-md-4">
                            </ul>
                            <!--<ul class="mega-menu-column col-md-2">
									</ul>-->
                            <ul class="mega-menu-column col-md-5">
                                <li class="mega-menu-title">
                                    <a href="#">
                                        <div>Don't have an Account? Register Now.</div>
                                    </a>
                                    <div class="col_full nobottommargin">
                                        <a href="#" class="button button-rounded button-reveal button-large button-green tright"><i class="icon-line-arrow-right"></i><span>Register Now!</span></a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-3">
                                <li>
                                    <div class="widget clearfix">
                                        <h4>Login to your Account</h4>
                                        <form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">

                                            <div class="col_full">
                                                <label for="login-form-username">Username or Email:</label>
                                                <!--<input type="text" id="login-form-username" name="login-form-username" value="" class="form-control" />-->
                                                <input class="typeahead sm-form-control tt-input" type="text" placeholder="johndoe or example@gmail.com" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;">
                                            </div>

                                            <div class="col_full">
                                                <label for="login-form-password">Password:</label>
                                                <input class="typeahead sm-form-control tt-input" type="password" placeholder="your password" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;">
                                            </div>

                                            <div class="col_full nobottommargin">
                                                <a href="#" class="button button-rounded button-reveal button-large button-green tright"><i class="icon-line-arrow-right"></i><span>Login</span></a>
                                                <a href="#" class="fright">Forgot Password?</a>
                                            </div>

                                        </form>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mega-menu">
                        <a href="#">
                            <div>Portfolio</div>
                        </a>
                    </li>
                    <li class="mega-menu">
                        <a href="#">
                            <div>Blog</div>
                        </a>
                        <div class="mega-menu-content style-2 clearfix">
                            <ul class="mega-menu-column col-md-2">
                                <li>
                                    <div class="widget clearfix">

                                        <h4>Recently Posted</h4>

                                        <div class="ipost clearfix">
                                            <div class="entry-image">
                                                <a href="#"><img class="image_fade" src="images/magazine/thumb/1.jpg" alt="Image"></a>
                                            </div>
                                            <div class="entry-title">
                                                <h3><a href="blog-single.html">Truth About Extreme Budget Travel</a></h3>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><i class="icon-calendar3"></i> 13th Jun 2014</li>
                                                <li><i class="icon-comments"></i> 53</li>
                                            </ul>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-3">
                                <li>
                                    <div class="widget clearfix">

                                        <h4>Popular Posts</h4>

                                        <div>
                                            <div class="spost clearfix">
                                                <div class="entry-image">
                                                    <a href="#" class="nobg"><img class="img-circle" src="images/magazine/small/2.jpg" alt=""></a>
                                                </div>
                                                <div class="entry-c">
                                                    <div class="entry-title">
                                                        <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                                                    </div>
                                                    <ul class="entry-meta">
                                                        <li><i class="icon-comments-alt"></i> 24 Comments</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="spost clearfix">
                                                <div class="entry-image">
                                                    <a href="#" class="nobg"><img class="img-circle" src="images/magazine/small/1.jpg" alt=""></a>
                                                </div>
                                                <div class="entry-c">
                                                    <div class="entry-title">
                                                        <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                    </div>
                                                    <ul class="entry-meta">
                                                        <li><i class="icon-comments-alt"></i> 19 Comments</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="spost clearfix">
                                                <div class="entry-image">
                                                    <a href="#" class="nobg"><img class="img-circle" src="images/magazine/small/3.jpg" alt=""></a>
                                                </div>
                                                <div class="entry-c">
                                                    <div class="entry-title">
                                                        <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                                                    </div>
                                                    <ul class="entry-meta">
                                                        <li><i class="icon-comments-alt"></i> 35 Comments</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-2">
                                <li class="mega-menu-title">
                                    <a href="#">
                                        <div>Categories</div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <div><i class="icon-t-shirt"></i>Fashion</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div><i class="icon-laptop2"></i>Technology</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div><i class="icon-clock2"></i>Lifestyle</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div><i class="icon-plane"></i>Travel</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div><i class="icon-barbell"></i>Sport</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div><i class="icon-heart3"></i>Health</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div><i class="icon-film"></i>Videos</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-2">
                                <li class="mega-menu-title">
                                    <a href="#">
                                        <div>Archives</div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <div>January 2016</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>December 2015</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>November 2015</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>October 2015</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>September 2015</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>August 2015</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>July 2015</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-3">
                                <li>
                                    <div class="widget clearfix">
                                        <div class="alert alert-info nobottommargin">Use Bootstrap Grid to create the Mega Menu Columns which allows you to Flexibly use Mixed Width Columns and Widgets of all Sizes.</div>
                                    </div>

                                    <div class="widget clearfix">

                                        <h4>Tag Cloud</h4>

                                        <div class="tagcloud">
                                            <a href="#">general</a>
                                            <a href="#">videos</a>
                                            <a href="#">music</a>
                                            <a href="#">media</a>
                                            <a href="#">photography</a>
                                            <a href="#">parallax</a>
                                            <a href="#">ecommerce</a>
                                            <a href="#">terms</a>
                                            <a href="#">coupons</a>
                                            <a href="#">modern</a>
                                            <a href="#">clean</a>
                                            <a href="#">medical</a>
                                            <a href="#">agency</a>
                                            <a href="#">travel</a>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mega-menu">
                        <a href="shop.html">
                            <div>Shop</div>
                        </a>
                        <div class="mega-menu-content style-2 clearfix" style="background-image: url('images/shop/shop-menu.jpg'); background-repeat: no-repeat; background-position: right bottom;">
                            <ul class="mega-menu-column col-lg-2 col-md-3">
                                <li>
                                    <div class="widget clearfix">

                                        <div class="product iproduct clearfix">
                                            <div class="product-image">
                                                <a href="#"><img src="images/shop/shoes/2-small.jpg" alt="Gray Shoes"></a>
                                                <a href="#"><img src="images/shop/shoes/2-2-small.jpg" alt="Gray Shoes"></a>
                                                <div class="sale-flash">50% Off*</div>
                                                <div class="product-overlay">
                                                    <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
                                                    <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
                                                </div>
                                            </div>
                                            <div class="product-desc nobottompadding center">
                                                <div class="product-title">
                                                    <h3><a href="#">Gray Shoes</a></h3>
                                                </div>
                                                <div class="product-price">
                                                    <del>$24.99</del>
                                                    <ins>$12.49</ins>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-3">
                                <li>
                                    <div class="widget clearfix">

                                        <h4 class="highlight-me">Last Viewed Items</h4>
                                        <div class="widget-last-view">
                                            <div class="spost clearfix">
                                                <div class="entry-image">
                                                    <a href="#"><img src="images/shop/small/3.jpg" alt="Image"></a>
                                                </div>
                                                <div class="entry-c">
                                                    <div class="entry-title">
                                                        <h4><a href="#">Round-Neck Tshirt</a></h4>
                                                    </div>
                                                    <ul class="entry-meta">
                                                        <li class="color">$15</li>
                                                        <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="spost clearfix">
                                                <div class="entry-image">
                                                    <a href="#"><img src="images/shop/small/10.jpg" alt="Image"></a>
                                                </div>
                                                <div class="entry-c">
                                                    <div class="entry-title">
                                                        <h4><a href="#">Green Trousers</a></h4>
                                                    </div>
                                                    <ul class="entry-meta">
                                                        <li class="color">$19</li>
                                                        <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="spost clearfix">
                                                <div class="entry-image">
                                                    <a href="#"><img src="images/shop/small/7.jpg" alt="Image"></a>
                                                </div>
                                                <div class="entry-c">
                                                    <div class="entry-title">
                                                        <h4><a href="#">Light Blue Denim Dress</a></h4>
                                                    </div>
                                                    <ul class="entry-meta">
                                                        <li class="color">$19.99</li>
                                                        <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i> <i class="icon-star-empty"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-2">
                                <li class="mega-menu-title">
                                    <a href="#">
                                        <div>Categories</div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <div><i class="icon-t-shirt"></i>Men's Shirts</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div><i class="icon-laptop2"></i>Women's Accessories</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div><i class="icon-clock2"></i>Branded Watches</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div><i class="icon-plane"></i>Innerwear &amp; Lingerie</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div><i class="icon-barbell"></i>Belts &amp; Backpacks</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div><i class="icon-heart3"></i>Gym &amp; Sportswear</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div><i class="icon-film"></i>Personal Grooming</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-2 noleftborder">
                                <li class="mega-menu-title">
                                    <a href="#">
                                        <div>Popular Brands</div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <div>United Colors of Benetton</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>Burton Menswear London</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>Calvin Clein Jeans</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>Dorothy Perkins</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>Tommy Hilfiger</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>Gucci</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>Armani</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <!-- Top Cart
						============================================= -->
                <div id="top-cart">
                    <a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>5</span></a>
                    <div class="top-cart-content">
                        <div class="top-cart-title">
                            <h4>Shopping Cart</h4>
                        </div>
                        <div class="top-cart-items">
                            <div class="top-cart-item clearfix">
                                <div class="top-cart-item-image">
                                    <a href="#"><img src="images/shop/small/1.jpg" alt="Blue Round-Neck Tshirt" /></a>
                                </div>
                                <div class="top-cart-item-desc">
                                    <a href="#">Blue Round-Neck Tshirt</a>
                                    <span class="top-cart-item-price">$19.99</span>
                                    <span class="top-cart-item-quantity">x 2</span>
                                </div>
                            </div>
                            <div class="top-cart-item clearfix">
                                <div class="top-cart-item-image">
                                    <a href="#"><img src="images/shop/small/6.jpg" alt="Light Blue Denim Dress" /></a>
                                </div>
                                <div class="top-cart-item-desc">
                                    <a href="#">Light Blue Denim Dress</a>
                                    <span class="top-cart-item-price">$24.99</span>
                                    <span class="top-cart-item-quantity">x 3</span>
                                </div>
                            </div>
                        </div>
                        <div class="top-cart-action clearfix">
                            <span class="fleft top-checkout-price">$114.95</span>
                            <button class="button button-3d button-small nomargin fright">View Cart</button>
                        </div>
                    </div>
                </div>
                <!-- #top-cart end -->

                <!-- Top Search
						============================================= -->
                <div id="top-search">
                    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    <form action="search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div>
                <!-- #top-search end -->

            </nav>
            <!-- #primary-menu end -->
        </div>

    </div>

</header>
