<!-- Page Title
        ============================================= -->
<section id="page-title">
    <div class="container clearfix">
        <h1>
            Services
        </h1>
        <span>
            We provide Amazing Template
        </span>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    Home
                </a>
            </li>
            <li class="active">
                Services
            </li>
        </ol>
    </div>
</section>
<!-- #page-title end -->
<!-- Content
        ============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="col_one_third">
                <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
                    <div class="fbox-icon">
                        <a href="#">
                            <i class="icon-crop i-alt">
                            </i>
                        </a>
                    </div>
                    <h3>
                        Premium Sliders Included
                        <span class="subtitle">
                            About 20+ Dedicated Slider Templates
                        </span>
                    </h3>
                </div>
            </div>
            <div class="col_one_third">
                <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
                    <div class="fbox-icon">
                        <a href="#">
                            <i class="icon-tint i-alt">
                            </i>
                        </a>
                    </div>
                    <h3>
                        Unlimited Color Options
                        <span class="subtitle">
                            16.7+ Million on your fingertips
                        </span>
                    </h3>
                </div>
            </div>
            <div class="col_one_third col_last">
                <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
                    <div class="fbox-icon">
                        <a href="#">
                            <i class="icon-text-width i-alt">
                            </i>
                        </a>
                    </div>
                    <h3>
                        CUSTOMIZABLE FONTS
                        <span class="subtitle">
                            Unlimited Fonts & Customizations
                        </span>
                    </h3>
                </div>
            </div>
            <div class="clear">
            </div>
            <div class="col_one_third nobottommargin">
                <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
                    <div class="fbox-icon">
                        <a href="#">
                            <i class="icon-ok i-alt">
                            </i>
                        </a>
                    </div>
                    <h3>
                        12+ Header Designs
                        <span class="subtitle">
                            Customizable Headers & Menus
                        </span>
                    </h3>
                </div>
            </div>
            <div class="col_one_third nobottommargin">
                <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
                    <div class="fbox-icon">
                        <a href="#">
                            <i class="icon-thumbs-up i-alt">
                            </i>
                        </a>
                    </div>
                    <h3>
                        Awesome Mega menu
                        <span class="subtitle">
                            Stylish & Simple Chunky Menus
                        </span>
                    </h3>
                </div>
            </div>
            <div class="col_one_third nobottommargin col_last">
                <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
                    <div class="fbox-icon">
                        <a href="#">
                            <i class="icon-eye i-alt">
                            </i>
                        </a>
                    </div>
                    <h3>
                        Retina Ready Graphics
                        <span class="subtitle">
                            Crystal Clear Images & Icons
                        </span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container clear-bottommargin clearfix">
                <div class="heading-block center">
                    <h2>
                        Features List.
                    </h2>
                    <span>
                        We provide a wide array of Usable & Flexible Features
                    </span>
                </div>
                <div class="row">
                    <div class="col_one_third">
            <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn">
                <div class="fbox-icon">
                    <a href="#">
                        <i class="icon-line-monitor">
                            </i>
                    </a>
                </div>
                <h3>
                    Responsive Layout
                </h3>
                <p>
                    Powerful Layout with Responsive functionality that can be adapted to any screen size.
                </p>
            </div>
        </div>
        <div class="col_one_third">
            <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="200">
                <div class="fbox-icon">
                    <a href="#">
                        <i class="icon-line-eye">
                            </i>
                    </a>
                </div>
                <h3>
                    Retina Ready Graphics
                </h3>
                <p>
                    Looks beautiful & ultra-sharp on Retina Displays with Retina Icons, Fonts & Images.
                </p>
            </div>
        </div>
        <div class="col_one_third col_last">
            <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="400">
                <div class="fbox-icon">
                    <a href="#">
                        <i class="icon-line-star">
                            </i>
                    </a>
                </div>
                <h3>
                    Powerful Performance
                </h3>
                <p>
                    Optimized code that are completely customizable and deliver unmatched fast performance.
                </p>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="col_one_third">
            <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="600">
                <div class="fbox-icon">
                    <a href="#">
                        <i class="icon-line-play">
                            </i>
                    </a>
                </div>
                <h3>
                    HTML5 Video
                </h3>
                <p>
                    Themeforest provides support for Native HTML5 Videos that can be added to a Full Width Background.
                </p>
            </div>
        </div>
        <div class="col_one_third">
            <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="800">
                <div class="fbox-icon">
                    <a href="#">
                        <i class="icon-params">
                            </i>
                    </a>
                </div>
                <h3>
                    Parallax Support
                </h3>
                <p>
                    Display your Content attractively using Parallax Sections that have unlimited customizable areas.
                </p>
            </div>
        </div>
        <div class="col_one_third col_last">
            <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="1000">
                <div class="fbox-icon">
                    <a href="#">
                        <i class="icon-line-circle-check">
                            </i>
                    </a>
                </div>
                <h3>
                    Endless Possibilities
                </h3>
                <p>
                    Complete control on each & every element that provides endless customization possibilities.
                </p>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="col_one_third bottommargin-sm">
            <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="600">
                <div class="fbox-icon">
                    <a href="#">
                        <i class="icon-bulb">
                            </i>
                    </a>
                </div>
                <h3>
                    Light & Dark Color Schemes
                </h3>
                <p>
                    Change your Website's Primary Scheme instantly by simply adding the dark class to the body.
                </p>
            </div>
        </div>
        <div class="col_one_third bottommargin-sm">
            <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="800">
                <div class="fbox-icon">
                    <a href="#">
                        <i class="icon-heart2">
                            </i>
                    </a>
                </div>
                <h3>
                    Boxed & Wide Layouts
                </h3>
                <p>
                    Stretch your Website to the Full Width or make it boxed to surprise your visitors.
                </p>
            </div>
        </div>
        <div class="col_one_third bottommargin-sm col_last">
            <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="1000">
                <div class="fbox-icon">
                    <a href="#">
                        <i class="icon-note">
                            </i>
                    </a>
                </div>
                <h3>
                    Extensive Documentation
                </h3>
                <p>
                    We have covered each & everything in our Documentation including Videos & Screenshots.
                </p>
            </div>
        </div>
        <div class="clear">
        </div>
                </div>
            </div>
        </div>
        <div class="container clearfix">
            <div class="heading-block center">
                <h2>
                    Pricing.
                </h2>
                <span>
                    We believe in Flexible Costing.
                </span>
            </div>
            <div class="pricing bottommargin clearfix">
                <div class="col-md-3">
                    <div class="pricing-box">
                        <div class="pricing-title">
                            <h3>
                                Starter
                            </h3>
                        </div>
                        <div class="pricing-price">
                            <span class="price-unit">
                                €
                            </span>
                            7
                            <span class="price-tenure">
                                /mo
                            </span>
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li>
                                    <strong>
                                        Full
                                    </strong>
                                    Access
                                </li>
                                <li>
                                    <i class="icon-code">
                                    </i>
                                    Source Files
                                </li>
                                <li>
                                    <strong>
                                        100
                                    </strong>
                                    User Accounts
                                </li>
                                <li>
                                    <strong>
                                        1 Year
                                    </strong>
                                    License
                                </li>
                                <li>
                                    Phone & Email Support
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a class="btn btn-danger btn-block btn-lg" href="#">
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pricing-box best-price">
                        <div class="pricing-title">
                            <h3>
                                Professional
                            </h3>
                            <span>
                                Most Popular
                            </span>
                        </div>
                        <div class="pricing-price">
                            <span class="price-unit">
                                €
                            </span>
                            12
                            <span class="price-tenure">
                                /mo
                            </span>
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li>
                                    <strong>
                                        Full
                                    </strong>
                                    Access
                                </li>
                                <li>
                                    <i class="icon-code">
                                    </i>
                                    Source Files
                                </li>
                                <li>
                                    <strong>
                                        1000
                                    </strong>
                                    User Accounts
                                </li>
                                <li>
                                    <strong>
                                        2 Years
                                    </strong>
                                    License
                                </li>
                                <li>
                                    <i class="icon-star3">
                                    </i>
                                    <i class="icon-star3">
                                    </i>
                                    <i class="icon-star3">
                                    </i>
                                    <i class="icon-star3">
                                    </i>
                                    <i class="icon-star3">
                                    </i>
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a class="btn btn-danger btn-block btn-lg bgcolor border-color" href="#">
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pricing-box">
                        <div class="pricing-title">
                            <h3>
                                Business
                            </h3>
                        </div>
                        <div class="pricing-price">
                            <span class="price-unit">
                                €
                            </span>
                            19
                            <span class="price-tenure">
                                /mo
                            </span>
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li>
                                    <strong>
                                        Full
                                    </strong>
                                    Access
                                </li>
                                <li>
                                    <i class="icon-code">
                                    </i>
                                    Source Files
                                </li>
                                <li>
                                    <strong>
                                        500
                                    </strong>
                                    User Accounts
                                </li>
                                <li>
                                    <strong>
                                        3 Years
                                    </strong>
                                    License
                                </li>
                                <li>
                                    Phone & Email Support
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a class="btn btn-danger btn-block btn-lg" href="#">
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pricing-box">
                        <div class="pricing-title">
                            <h3>
                                Enterprise
                            </h3>
                        </div>
                        <div class="pricing-price">
                            <span class="price-unit">
                                €
                            </span>
                            29
                            <span class="price-tenure">
                                /mo
                            </span>
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li>
                                    <strong>
                                        Full
                                    </strong>
                                    Access
                                </li>
                                <li>
                                    <i class="icon-code">
                                    </i>
                                    Source Files
                                </li>
                                <li>
                                    <strong>
                                        1000
                                    </strong>
                                    User Accounts
                                </li>
                                <li>
                                    <strong>
                                        5 Years
                                    </strong>
                                    License
                                </li>
                                <li>
                                    Phone & Email Support
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a class="btn btn-danger btn-block btn-lg" href="#">
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="promo promo-dark promo-flat promo-full topmargin footer-stick">
            <div class="container clearfix">
                <h3>Call us today at <span>+8496 3878 723</span> or Email us at <span>quylk2906@gmail.com</span></h3>
                <span>We strive to provide Our Customers with Top Notch Support to make their Theme Experience Wonderful</span>
                <a class="button button-xlarge button-rounded" href="#">
                    Start Browsing
                </a>
            </div>
        </div>
    </div>
</section>
<!-- #content end -->
